{% extends 'header.html' %}
{% block create_blog %}
 <form method = "post">
 	<table>
 		<tr>
 			<td class="label">
 		   		Blog title
 			</td>
 			<td>
 				<input type="text" name ="blogtitle">
 			</td>
 		</tr>
 		<tr>
 			<td class="label"> 
 				Blog text
 			</td>
 			<td>
 				<textarea name = "blogtext">Enter some text here</textarea> 
 			</td>
 		</tr>
  		<tr>
  			<td></td>
  			<td><input type="submit" name="submit_blog"></td>
  		</tr>
     </table>
     <div class="error">
     	{{error}}
     </div>
</form>
{% endblock %}