 
{% include 'header.html' %}
{% set blog_id_delete = 'kill'+blog_id %}
{% set blog_id_edit = 'show'+blog_id %}

<form method = "post">
 	<table>
 		<tr>
 			<td class="label">
 			  Blog title
 			</td>
 			<td>
 			<input type="text" name = "blogtitle" value = "{{blogtitle}}">
 			</td>
 		</tr>
 		<tr>
 			<td class="label">
 			 Blog text
 			</td>
 			<td>
 				<textarea name = "blogtext">{{blogtext}}</textarea>
 			</td>
 		</tr>
 		<tr>
 			<td></td>
 			<td><input type="submit" name="submit_edit"></td>
 	</table>
</form> 
 <BR>
<a href={{blog_id_edit}}>Click here to cancel editing and return to the previous screen</a><BR>
<a href="{{blog_id_delete}}">Click here to delete the blog</a> <BR>Warning all comments will also get deleted.
<div class="error">{{error}}</div>
</body>
</html>