{% set user = user|default(None) %}

<!DOCTYPE html>
<html>
<html land="en">
<link rel="stylesheet" type="text/css" href="css/main.css"> 
<head>
	<title>Welcome to Udacity Project 2 blog by DK</title>
</head>
<body>
	<div id = "header">
		<div id = "blogname">
			<H3> <a href='/'>This is Blog for Project 2 FSND</a></H3>
		</div>
		<div id = "login">
		{%if user == None %}
			<a href="/login"> login </a> <BR>
			<a href="/signup"> sign up </a>
		{% else %}
			Logged as {{user.username}}<BR>
			<a href="/logout"> Click here to log out</a> <BR>
			<INPUT TYPE="button" Value ="Create new blog" onClick="parent.location='/createblog'">
		{% endif %}
		</div>
	</div>
	<hr>
