{% extends 'header.html' %}
{% block login %}
<H4> Please enter your username and password </H4>
<form method = "post">
	<fieldset>
		<legend> User login information </legend>
		<div class="label">
			Username
		</div>
		<div>
			<input type="text" name="username" value="{{username}}">
		</div>
		<div class="label">
			Password
		</div>
		<div>
			<input type="password" name="password">
		</div>
		<input type = "submit" name = "submit_login">
		<div class="error">
			{{error}}
		</div>
	</fieldset>
</form>
{% endblock %}