<!DOCTYPE html>
<html>
<head>
	<title>How to play with DB</title>
</head>
<body>
 <Form id = "form1" method = 'post'>
 	<label>Enter username:</label> <BR>
 	<input type="text" name="username"><BR>
 	<Label> Enter blog title </Label><BR>
	<input type="text" name="blogtitle"> <BR>
	<input type="submit" name="submit_enter_blog"> <BR>
</body>
<hr>
{{records}} <BR>
<hr> <p> following element displays each blog for each user <BR>
All users are searched for each associated blog</p>
{% for element in records %}
	<label> Author:</label>	{{element[0]}} <BR>
	{% for x in range(1,(element|length)) %}
		<label>	Blogtitle: {{element[x]}} <BR>
	{% endfor %}
{% endfor %}
<hr> <p> following element displays blog and user. 
Blog is retrieved and user id is obtained and displayed </p>
{{blogs2}}
<hr>
{% for element in blogs2 %}
	<label> Blog title <BR></label>
	{{element[0]}} <BR>
	<label> Blog author <BR></label>
	{{element[1]}} <BR>
{% endfor %}
</html>
