{% extends "header.html" %}

{% block show_blogs %}

<h2>  Recent blogs </h2>
<h3>Click on blog title to edit or leave comments:</h3> 
{% set x=0 %}
{%- for blog in blogs %}
	{% set urlkey = 'show' + blog.key()|string %}
	Last modified on: {{blog.modified.strftime('%Y-%m-%d %H:%M')}} 
	by <B>{{author[x]}}:</B> <BR>
	Title: <a class="blog_title" href="{{urlkey}}">{{blog.blogtitle}}</a> <br>
	Likes: {{likes[x]}}
	{% set likeurl='like'+blog.key()|string %}
	{% set unlikeurl='unlike'+blog.key()|string %}
	<a href="{{likeurl}}">Like</a> 
	<a href="{{unlikeurl}}">Unlike</a> 
	<BR>
	<div class="blog_txt">
	<textarea disabled>{{blog.blogtext}}</textarea>
	</div> 
<hr>

{% set x=x+1 %}
{%- endfor %}
{% endblock %}


 

