{% include 'header.html' %}
<H4> Please enter your username and password. </H4>
<form method="post">
	<div id = "signup_table">
		<label>Username</label><input type="text" name="username" value="{{username}}"> {{error_username}}<BR>
		<label>Password</label><input type="password" name="password"> {{error_password}}<BR>
		<label>Verify password</label><input type="password" name="verify">{{error_verify}}<BR>
		<label>Email</label><input type="text" name="email" value="{{email}}">{{error_email}}<BR>
	</div>
	<input type="submit" name="submit_signup">
</form> 
