{% extends 'header.html' %}
{% block signup %}
<H4> Please enter your username and password. </H4>
<form method="post">
	<div id = "signup_table">
			<div class="label">
					Username
			</div>
			<div>
				<input type="text" name="username" value="{{username}}">
			</div>
			<div class="error">
				 	{{error_username}}
			</div>
			<div class="label">
				Password
			</div>
			<div>
				<input type="password" name="password"> 
			</div class="error">
					{{error_password}}
			</div>
			<div class="label">
				Verify password
			</div>
			<div>
				<input type="password" name="verify">
			</div>
			<div class="error">
				{{error_verify}}
			</div>
			<div class="label">
				Email
			</div>
			<div>
				<input type="text" name="email" value="{{email}}">
			</div>
			<div class="error">
					{{error_email}}
			</div>
			<div>
				<input type="submit" name="submit_signup">
			</div>
	</div>
</form> 
{% endblock %}